.secaoSobre{
   width: 85%;
   margin: 0 auto;
   padding: 20px;
   border-radius: 30px;
   background-color: var(--fundoClaro);
}

.cabecalho {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.titulo {
    color: var(--azul);
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}

.subtitulo {
  text-align: center;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--branco);
}
.favo {
  /* width: 13vw;
  max-width: 120px;
  height: auto; 
  margin-left: 30px; */
    position: relative;
    right: 0;
    left: 25rem;
    top: -8rem;
}
.conteudo{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -80px;
}

.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.texto {
  /* display: flex;
  justify-content: center;
  flex-direction: column;  */
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: var(--branco);
} 

.textAzul{
  color: var(--azul);
}

.botaoAcao {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin-top: 2rem;
  padding: 10px;
  background: transparent; 
  color: #00d2ff; 
  font-size: 1rem;
  width: 175px;
  border: 2px solid var(--azul);
  border-radius: 10px;
  transition: all 0.3s ease;
}
.botaoAcao:hover {
  background: var(--azul); 
  color: var(--branco); 
}
/* 
@media (max-width: 768px) {
  .favo {
    width: 13vw; 
    max-width: 80px; 
    margin-right: 2.5rem; 
  }
}
.secaoSobre {
    padding: 2rem;
    background-color: var(--fundoClaro);
    color: white;
    font-family: Arial, sans-serif;
  }
  .conteudo {
    display: flex; 
    gap: 2rem; 
    align-items: flex-start; 
  }
  
  .imagens {
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
    max-width: 500px;
  }
  
  .image {
    width: 100%;
    height: auto;
    max-width: 500px; 
  }
  
  .subtituloTexto { 
    line-height: 1.6;
    color: #00d2ff;
    margin-top: 1rem;
    max-width: 500px;
  }
  
  .texto { 
    /* font-size: 1.2rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column; 
    gap: 1rem;  */
  /* }
  .texto p {
    font-size: 1.2rem;
    line-height: 1.8; 
  } */
  /* @media (max-width: 768px) {
    .conteudo {
      flex-direction: column; 
      align-items: center; 
    }
  
    .imagens {
      max-width: 100%;
    }
  
    .subtituloTexto {
      max-width: 100%; 
    }
  }
  
   */
  
  
 
  