.secaoSobre{
   width: 85%;
   margin: 0 auto;
   padding: 20px;
   border-radius: 30px;
   background-color: var(--fundoClaro);
}

.cabecalho {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.titulo {
    color: var(--azul);
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}

.subtitulo {
  text-align: center;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--branco);
}
.favo {
    position: relative;
    right: 0;
    left: 25rem;
    top: -8rem;
}
.conteudo{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -80px;
}

.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.texto {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: var(--branco);
} 

.textAzul{
  color: var(--azul);
}

.botaoAcao {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin-top: 2rem;
  padding: 10px;
  background: transparent; 
  color: var(--azul); 
  font-size: 1rem;
  width: 175px;
  border: 2px solid var(--azul);
  border-radius: 10px;
  transition: all 0.3s ease;
}
.botaoAcao:hover {
  background: var(--azul); 
  color: var(--branco); 
}

@media (max-width: 900px){
  .cabecalho{
    padding: 25px;
  }
  .titulo{
    font-size: 20px;
  }
  .subtitulo{
    font-size: 14px;
  }
  .favo{
    width: 70px;
    height: 70px;
    left: 13rem;
  }
  .conteudo{
    flex-direction: column;
  }
  .secaoSobre{
    border-radius: 15px;
  }
  .botaoAcao{
    width: 250px;
  }
  .image{
    width: 300px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .favo {
     left: 7rem;
  }
  .subtitulo{
    font-size: 12px;
  }
}

  

  
  
 
  