

.cabecalho {
  display: flex;
  flex-direction: row; 
  justify-content: center;
 
}
.textos {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  
} 

.titulo {
  
  font-size: 2rem;
  margin-left: 10%;
  text-align: center;
  color: #00d2ff;
}

.subtitulo {
  font-size: 1.2rem;
  margin-left: 10%; 
  text-align: center;
  margin-top: 20px;
}

.favo {
  width: 13vw;
  max-width: 120px;
  height: auto; 
  margin-left: 30px;
}
@media (max-width: 768px) {
  .favo {
    width: 13vw; 
    max-width: 80px; 
    margin-right: 2.5rem; 
  }
}
.secaoSobre {
    padding: 2rem;
    background-color: var(--fundo);
    color: white;
    font-family: Arial, sans-serif;
  }
  

  
  
  .conteudo {
    display: flex; 
    gap: 2rem; 
    align-items: flex-start; 
  }
  
  .imagens {
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
    max-width: 500px;
  }
  
  .image {
    width: 100%;
    height: auto;
    max-width: 500px; 
  }
  
  .subtituloTexto { 
    line-height: 1.6;
    color: #00d2ff;
    margin-top: 1rem;
    max-width: 500px;
  }
  
  .texto { 
    font-size: 1.2rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
  }
  .texto p {
    font-size: 1.2rem;
    line-height: 1.8; /* Aumenta o espaçamento entre as linhas */
  }
  @media (max-width: 768px) {
    .conteudo {
      flex-direction: column; 
      align-items: center; 
    }
  
    .imagens {
      max-width: 100%;
    }
  
    .subtituloTexto {
      max-width: 100%; 
    }
  }
  
  
  
  
 .botaoAcao {
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  background: transparent; 
  border: 2px solid #00d2ff; 
  border-radius: 15px; 
  color: #00d2ff; 
  font-size: 1rem;
  
}

.botaoAcao:hover {
  background: #00d2ff; 
  color: white; 
}
  