.sec_contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Roboto flex';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
}

.sec_contato h2 {
    color: var(--azul);
    font-family: 'Kanit';
    font-size: 45px;
    margin-bottom: 25px;
}

.contato {
    display: flex;
    gap: 15px;
    padding: 20px;
    max-width: 1200px; 
}

.info_email,
.info_instagram {
    min-width: 350px; 
    box-sizing: border-box;
    padding: 25px;
    color: var(--branco);
    background-color: #10162B;
    border: 2px solid var(--azul);
    border-radius: 15px;
}

.info_endereco {
    box-sizing: border-box;
    padding: 20px;
    color: var(--branco);
    background-color: #10162B;
    border-radius: 15px;
}

.info_email:hover,
.info_instagram:hover,
.info_endereco:hover {
    background-color: var(--azul);
    cursor: pointer;
}
.info_email:hover svg,
.info_instagram:hover svg,
.info_endereco:hover svg {
    fill: var(--branco) !important; 
}


