@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-top: 2px solid var(--azul);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}
/**/

.navList{
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
}

.navUl{
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navUl li:first-child {
    color: var(--azul);
    border-bottom: 3px solid var(--azul);
}

.navUl li:hover {
    color: var(--azul);
    cursor: pointer;
}
.redesSociais {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px; 
    text-align: right; 
}

.redesSociais svg {
    font-size: 20px;
    border: 2px solid var(--azul);
    border-radius: 50%; 
    padding: 5px; 
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
}
.redesSociais svg:hover {
    color: var(--branco) !important;
    background-color: var(--azul); 
    transform: scale(1.1); 
}

.redesSociais p {
    font-size: 14px;
    color: var(--branco);
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

@media (max-width: 768px) {
   .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 10px;
}
    .navUl{
        flex-direction: column;
        align-items: flex-start;
    }
      .redesSociais {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          flex-wrap: wrap;
          margin-top: 10px;
        }
        .redesSociais p {
            flex-basis: 100%; 
            text-align: left;
        }
    }

