.header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 100px;
    padding-top: 10px;
    width: 100%;
    /* background-color: azure; */
}

@media (max-width: 768px) {
    .header {
        justify-content: left; 
        padding-left: 0;
    }

}