@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

.nav{
    padding-right: 100px;
}
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}


.navList{
    display: flex;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
   
}

.navUl{
    display: flex;
    gap: 12px;
    list-style: none;
}

.nav ul li {
    display: flex;
    list-style: none;
    text-decoration: none;
}


.navUl li:first-child {
    color: var(--azul);
    border-bottom: 3px solid var(--azul);
}

.navUl li:hover {
    color: var(--azul);
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav {
        padding: 20px;
    }
    .hamburger {
        display: block; 
        font-size: 35px;
        top: 25px;
        
    }
    
    .navList {
        font-size: 18px;
        display: none;
        flex-direction: column;
    }

    .navUl { 
        flex-direction: column;
        gap: 8px;
        padding-right: 32px;
    }

    .navList.open{
        display: flex;
    }
}