.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin: 50px;
}
.title{
    color: var(--azul);
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
  }
  
  .subTitle{
    color: var(--branco);
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin-top: -15px;
}

.aside{
 display: flex;
 padding-left: 200px;
 justify-content: center;
}

.text{
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--branco);
  position: absolute;
  width: 75%;
}

.image_container{
  position: relative;
}

.image_desktop{
  display: block;
  z-index: -1;
  width: 100%;
  position: relative;
}
.image_mobile{
  display: none;
}

@media (max-width: 600px){
  .header{
      margin: 20px;
  }
  .title{
    font-size: 35px;
  }
  .subTitle{
    font-size: 17px;
  }
  .aside{
    flex-direction: column;
    padding-left: 0;
  }
  .text{
    position: relative;
    left: 0;
    z-index: 1;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    left: 0;
    padding-left: 18px;
  }
  .image_desktop{
    display: none;
  }
  .image_mobile{
    display: block;
    z-index: 0;
    width: 100%;
    position: relative;
  }
}
