.twoColumns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 70px ;

}

.leftColumn {
  width: 50%;
  padding: 10px;
}

.rightColumn {
  width: 50%;
  padding: 10px;
}



.buttonOutline{
  padding: 0.8rem 1.5rem;
  background: transparent;
  border: 2px solid #00d2ff;
  border-radius: 15px;
  color: #00d2ff;
  font-size: 1rem;

}

.botaoAcao:hover {
  background: #00d2ff;
  color: white;
}

.processHeading {
  font-size: 3rem;
  font-weight: bold;
  color: #00d2ff;
  padding-bottom: 20px;
}

.processParagraph {
  text-align: justify;
  width: 70%;
  line-height: 1.5em;
  font-size: 16px;
  padding-bottom: 20px;
}

.processImage {
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
  object-fit: cover;
  width: 60%;
  height: auto;
}

.processSubheading {
  color: #2ECBF7;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 15px;
}

.favoProcesso {
  width: 13vw;
  max-width: 120px;
  height: auto;
  margin-left: 30px;
  transform: rotate(182deg);
}

.contentContainer{
  display: flex;
  gap: 30px;
  padding: 20px;
}

@media (max-width: 768px) {
  .twoColumns{
    margin: 5px;
  }

  .processHeading{
    font-size: 2rem;
  }

  .processParagraph{
    font-size: 14px;
    width: 100%;
  }

  .processImage{
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

  }

  .buttonOutline{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }


  .leftColumn,
  .rightColumn {
    width: 100%;
    padding: 20px 10px;
  }

  .favoProcesso {
    width: 20vw;
    max-width: 80px;
    margin-right: 20px auto;
  }

  .botaoProcesso {
    width: 100%;
    margin-top: 20px;
  }
  .favoProcesso{
    display: none;
  }

  /* .sectionItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
  } */

  /* .contentContainer{
    flex-direction: column;
  } */
  .stepIcon{
   width: 50px;
   height: 50px;
  }
}


