.professores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
    border-radius: 15px;
}

.favo{
    position: relative;
    right: 0;
    left: 25rem;;
}

.professores h2 {
    color: var(--azul);
    font-family: 'Kanit';
    font-size: 35px;
    margin-bottom: 25px;
}
.noticia{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px
}
.card {
    background-color: #1C1B2E;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.image_professor {
    border-radius: 20px;
}

.nome {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    color: var(--azul);
}

.descricao {

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
    color: var(--branco);
}
